/*
Nome: Thales A. Cardoso
Data: 03/08/2023
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #f9f9f9;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

h2 {
    font-size: 0.875rem;
    font-weight: 600;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.content {
    width: 1440px;
    margin: 0 auto;
}


/*******************************
    ESTILO DO TOPO
*******************************/

header {
    background-color: white;
    height: 56px;
    margin-bottom: 30px;
}

header .content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header .menu {
    margin: 16px 24px;
    display: flex;
    gap: 30px;
}

header .menu img {
    height: 24px;
    cursor: pointer;
}

header .pesquisa {
    display: flex;
    align-items: center;
}

header .pesquisa input {
    width: 350px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
} 

header .pesquisa input::placeholder {
    color: #cdcdcd;
} 

header .pesquisa button {
    width: 57px;
    height: 40px;
    border: 1px solid #ccc;
}

header .login {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .login img {
    height: 24px;
    cursor: pointer;
}

/*******************************
    ESTILO DO MAIN + SECTION
*******************************/

main.content {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

main section {
    width: 950px;
    height: 750px;
    display: flex;
    flex-direction: column;
}

main section iframe {
    background-color: aqua;
    width: 100%;
    height: 540px;
}

main section h1.titulo-principal {
    margin: 16px 0;
}

main section .principal {
    display: flex;
    gap: 30px;
}

main section .nome-canal {
    display: flex;
    align-items: center;
    cursor: pointer;
}

main section .nome-canal img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

main section .nome-canal span {
    display: flex;
    flex-direction: column ;
}

main section .nome-canal span p {
    margin-top: 2px;
    color: #515151;
}

main section .principal button {
    background-color: #CC0000;
    width: 160px;
    height: 40px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

main section .funcoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main section .funcoes div {
    display: flex;
    align-items: center;
}

main section .funcoes div a {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

main section .funcoes div a img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

main section .funcoes div a h2 {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

main section h2.informacoes {
    margin: 16px 0;
}

main section p.descricao {
    width: 600px;
    color: #515151;
}


/*******************************
    ESTILO DO MAIN + ASIDE
*******************************/

main aside {
    width: 375px;
    min-height: 300px ;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main aside div.relacionados {
    height: 90px;
    display: flex;
    gap: 16px;
}

main aside div.relacionados:hover {
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

main aside figure img {
    width: 160px;
    height: 90px;
}

main aside .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main aside .texto p {
    font-size: 12px;
    font-weight: 400;
}